<% if user_signed_in? %>
  <p> <%= button_to('Start tracking me !', set_tracking_path, method: :get) %> </p>
<% else %>
  <p>Please sign up to enjoy your tracking experience !</p>
<% end %>
<p> <%= button_to('Show me how you can recognise me !', show_tracking_path, method: :get) %> </p>
