<% if user_signed_in? %>
    <%= button_to('Start tracking me !', set_tracking_path, method: :get) %>
<% else %>
  <p>Please sign up to enjoy your tracking experience !</p>
<% end %>
  <%= button_to('Show me how you can recognise me !', show_tracking_path, method: :get) %> 
  <%= button_to('Learn more', faq_path, method: :get) %>
</div>
