<meta http-equiv="refresh" content="2000; url=<%= show_tracking_display_data_path %>"/>

<% if @hsts_domain_list %>
  <div style="display:none">
    <% @hsts_domain_list.each_with_index do |domain, index| %>
      <img alt="HSTS tracking" src="http://<%= domain %>/show_tracking/check_hsts/<%= index %>"></iframe>
    <% end %>
  </div>
<% end %>

<p>
  We're collecting the tracking data in your browser, you should soon be redirected to the <%= link_to('results page', show_tracking_display_data_path) %>.
</p>
