<h1> List of tracking methods </h1>

<p> <%= link_to('Back', root_path) %> </p>

<table>
  <tr>
    <th> Tracking method </th>
    <th> Working ? </th>
    <th> Set at : </th>
  </tr>
  <% @methods.each do |key,method| %>
    <tr>
      <td> <%= method[:name] %> </td>
      <td> <%= method[:worked] %> </td>
      <td> <%= method[:created_at] %> </td>
    </tr>
  <% end %>
</table>
