<h1> List of tracking methods </h1>

<p> <%= link_to('Back', root_path) %> </p>

<table>
  <tr>
    <th> Tracking method </th>
    <th> Working ? </th>
    <th> Set at : </th>
  </tr>
  <% @methods.each do |method,content| %>
    <tr>
      <td> <%= method %> </td>
      <td> <%= content %> </td>
    </tr>
  <% end %>
</table>

