### Application configuration ###
# This configuration is useful both on a machine you develop and on a production machine
# It is however useless on a machine you do nothing but deploy from

# Your certificate must be valid for each one of these.
# Make sure you have enough of them, as each new tracking will encode a new unique id on these.
# Therefore, there are 2^(number of domains here) possible tokens
# Uniqueness of new tokens is only guaranteed by taking a random value every time
# Something like 15 or 20 should be more than enough
hsts_url_list:
  - "hsts001.tracker.toadjaune.eu"
  - "hsts002.tracker.toadjaune.eu"
  - "hsts003.tracker.toadjaune.eu"
  - "hsts004.tracker.toadjaune.eu"
  - "hsts005.tracker.toadjaune.eu"
  - "hsts006.tracker.toadjaune.eu"
  - "hsts007.tracker.toadjaune.eu"
  - "hsts008.tracker.toadjaune.eu"
  - "hsts009.tracker.toadjaune.eu"
  - "hsts010.tracker.toadjaune.eu"

# You need a wildcard delivered by a Certificate Authority present in the default Cert Store
# of Firefox/Chrome for this to work. (And even then, it's not tested)
hpkp_enabled: false

# Duration (in seconds) to stay on the set_tracking and result collecting pages before redirecting
redirection_delay: 2
