<h2>What is stateful tracking ?</h2>

<p>There is a lot of ways for a website to recognized an user but we can set up two categories :<p>
<ul>
  <li> Stateless tracking </li>
  <li> Stateful tracking </li>
</ul>

<h3> Stateless tracking </h3>
<p>
The tracking methods under this category is about fetching the characteristics of your browser and your device to distinguish one user from an another. It is called fingerprinting. This is outside the scope of this website but we recommand you to look at websites like <a href="https://panopticlick.eff.org/" target="_blank">Panopticlick</a> or <a href="https://amiunique.org/" target="_blank">Am I Unique?</a> which covers this subjet well more than us.
</p>

<h3> Stateful tracking </h3>
<p>
Here, the tracking is about making the browser store informations when setting up the tracker and then getting them back to identify the user. The most known way to do that is the <a href="https://en.wikipedia.org/wiki/HTTP_cookie" target="_blank">cookie</a> which can be, and actually sometimes is, used for legitimate purposes allowing Single Sign-On (like <i>Connect with Facebook</i>) to work or remembering preferences, but is also massivly used for tracking users. Since its creation around 1995, the public has been alerted about privacy issues coming from cookies and some others way to make the browser store informations for tracking purposes has been found and used, mostly for advertising.
</p>

<h2> Why should I care ?</h2>

<p>
Pros and cons of tracking has already been said and repeated so we can suggest you a couple of online ressources you can consult to make your choice. 
</p>
<ul>
  <li> <a href="https://www.eff.org/issues/privacy" target="_blank">The Electronic Frontier Fondation website</a> </li>
  <li> <a href="https://ellajdesigns.com/tracking-web-analytics/" target="_blank">Explaination of the business consequences of analytics</a>
</ul>

<p>
However, tracking is done without notifying the user being tracked (<i>you</i>) which is problematic. While it should the user's choice if he wants to be tracked or not, we have constated that the general public is not aware of how the tracking is done and how to protect oneself against it. Ultimately, we give you the tools to choose. 
</p>

<h2>I have desactived cookies on my brower, so I should be okay ?</h2>
<p> Here is a list of common means for a website to track you : </p>
<ul>
  <li> Cookies </li>
  <li> Local Storage </li>
  <li> HSTS Cache </li>
  <li> ETag caching </li>
  <li> Redirection caching </li>
  <li> Cookies syncing </li>
</ul>

<p> As you can see, there is a lot of means not relying on cookies which means you can still be tracked. Furthermore, only one way is relying on Javascript so even usage of plugins like <a href="https://noscript.net/" target="_blank">NoScript</a> is not enough to protect you. </p>
