/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Merci Green ! */
/* Général */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	min-height: 100%;
}

body {
	background-color: #333333;
	color: #e9e9e9;
	position: relative;
	min-height: 100vh;
  margin: 0px;
  font-family: "DejaVu", serif; 
}

.hidden {
	display: none;
}
.left {
	float: left;
}
.right {
	float: right;
}
.flex-container {
  display: flex;
  align-content: center;
  align-items: center;
  max-width: 100%;
}

.notice {
  background: #329431;
  margin-top: 0px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  min-width: 40%;
}

.alert {
  background: #772222;
  margin-top: 0px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  min-width: 40%;
}

/* Header */
header {
	background-color: #444444;
	width: 100%;
	height: 60px;
	font-family: sans-serif;
	padding-left: 20px;
}

#logo-header {
    height: 100%;
}

header h1 {
  float: left;
  max-height: 100%;
  line-height: 60px;
  margin-top: 0;
  margin-bottom: 0;
	text-transform: capitalize;
}

header h1 a {
  text-decoration: none;
  color: #e9e9e9;
}

header ul {
  float: right;
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 100%;
	display: inline-block;
}

header ul li {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	height: 90%;
	line-height: 30px;
	text-align: center;
}

header ul li a {
	color: #dddddd;
	text-decoration: none;
	vertical-align: middle;
}

header ul li.active {
	background-color: #666666;
}

header ul li input[type=submit] {
  border-radius: 0px;
  font-size: 16px;
  margin-left: 0px;
  margin-right: 0px;
}

#logo-container {
    float: left;
    line-height: 40px;
    padding: 0 10px;
}

label {
	margin-bottom: 10px;
}

/* Content */
#content {
	width: 90%;
	margin: auto;
	padding-bottom: 50px;
}

table {
	border-collapse: collapse;
	margin: auto;
	margin: 10px 10px 30px 30px;
	border: 3px solid #666666;
	max-width: 100%;
}
td, th {
	border: 1px solid #666666;
	padding: 3px 8px;
}

tbody tr:hover {
	background-color: #555555;
}

th {
	border-bottom: 3px solid #666666;
	padding: 3px 6px;
}

input {
  margin-bottom : 10px;
}

input[type=number] {
	background-color: #6A6A6A;
	color: #eeeeee;
	border: solid 1px #888888;
	width: 3em;
	text-align: center;
}

input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type=number]::placeholder {
	color: #a0a0a0;
}

input[type=submit] {
  margin-top: 10px;
  margin-right: 10px;
  display: inline-block;
  background-color: #4d4d4d;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 4px;
}

input[type=submit]:hover {
  background-color: #555555;
}

a {
  color: #5b8ac6;
}

/* Footer */
footer {
	text-align: center;
	border-top: solid 1px #dddddd;
	padding-top: 10px;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
}

