<meta http-equiv="refresh" content="2; url=<%= root_path %>" />
<% if @local_storage %>
  <script>localStorage.setItem("tracker", "<%= @local_storage.to_s %>")</script>
<% end %>
<p>
  We just finished setting up your tracking, you should now be redirected to the <%= link_to('home path', root_path) %>.
</p>
